/* style body smart watch */
.body-smartwatch {
    width: 220px;
    height: 240px;
    border-radius: 60px;
}

/* style button body smart watch */
.button-body-smartwatch {
    width: 27px;
    height: 33px;
    right: 20px;
    top: 50px;
    border-radius: 10px;
}

/* style lace body smart watch */
.lace-body-smartwatch {
    width: 150px;
    height: 18px;
    border-radius: 10px;
    left: 35px;
    bottom: 12px;
}

/* style string body smart watch */
#containerString div:nth-child(2) {
    width: 130px;
    height: 50px;
    left: 45px;
    bottom: 69px;
    background-color: #005F6A;
    transform: rotateX(45deg);
}

#containerString div:nth-child(1) {
    width: 130px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 45px;
    bottom: 40px;
    background-color: #03555e;
    transform: rotateX(80deg);
}

#containerString div:nth-child(3) {
    width: 130px;
    height: 90px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 45px;
    bottom: 115px;
    background-color: #03555e;
    transform: rotateX(80deg);
}