/* style body smart watch */
.body-smartwatch {

    width: 200px;
    height: 220px;
    border-radius: 60px;

}

/* style button body smart watch */
.button-body-smartwatch {
    width: 27px;
    height: 33px;
    right: 20px;
    top: 50px;
    border-radius: 10px;
}