/* All */
* {
    font-family: Arial,
        Helvetica,
        sans-serif;
    ;
}

/* span date and time */
span {
    font-size: 13px;
}

/* style body smart watch */
.body-smartwatch {
    width: 220px;
    height: 240px;
    border-radius: 60px;
}

/* style screen smart watch */
.screen-smartwatch {
    width: 190px;
    height: 210px;
    border-radius: 60px;
}

/* style clock smart watch */
.clock-smartwatch {
    width: 370px;
    height: 190px;
}

/* style container time and date */
#swiperSmartWatch {
    display: none;
}

#containerTimeDate {
    height: 30px;
}


/* style button body smart watch */
.button-body-smartwatch {
    width: 15px;
    height: 33px;
    right: 5px;
    top: 50px;
    border-radius: 10px;
}

/* style lace body smart watch */
.lace-body-smartwatch {
    width: 150px;
    height: 18px;
    border-radius: 10px;
    left: 35px;
    bottom: 12px;
}

/* style string top body smart watch */
#containerStringTop div:nth-child(1) {
    width: 120px;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 45px;
    left: 52px;
    background-color: #03555e;
    transform: rotateX(80deg);
}

#containerStringTop div:nth-child(2) {
    width: 130px;
    height: 60px;
    top: 9px;
    left: 46px;
    background-color: #005F6A;
    transform: rotateX(45deg);
}


/* style string bottom body smart watch */
#containerStringBottom div:nth-child(1) {
    width: 130px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 45px;
    bottom: 40px;
    background-color: #005F6A;
    transform: rotateX(-80deg);
}

#containerStringBottom div:nth-child(2) {
    width: 120px;
    height: 50px;
    left: 51px;
    bottom: 79px;
    background-color: #005F6A;
    transform: rotateX(-80deg);
}

#containerStringBottom div:nth-child(3) {
    width: 113px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 55px;
    bottom: 118px;
    background-color: #03555e;
    transform: rotateX(-85deg);
}

/* style heart animation */
.heart {
    background: red;
    position: relative;
    height: 10px;
    width: 10px;
    /* Animation */
    transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
}


.heart::after {
    /* background:blue; */
    background: inherit;
    border-radius: 50%;
    /* To make circle */
    content: '';
    position: absolute;
    /* top: -100px;*/
    top: -50%;
    /* Inherit properties of parent */
    /* left: -100px; */
    left: 0;
    height: 10px;
    width: 10px;
}

.heart::before {
    /*  background:green; */
    background: inherit;
    border-radius: 50%;
    /* To make circle */
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    /* Inherit properties of parent */
    height: 10px;
    width: 10px;
}

@keyframes pulse {
    0% {
        transform: rotate(-45deg) scale(1);
        opacity: 0;
    }

    50% {
        transform: rotate(-45deg) scale(1.3);
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) scale(1);
        opacity: 1;
    }
}